@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}


@media screen and (max-width: 768px){   

    main {
        height: auto;
        width: 300px;
    }

    main > div#fotos > img, a > img {
        height: 50px;
        padding: 3px;
        margin-left: 14px;
        margin-bottom: 4px;
        display: inline-block;
    }

    main > div > p {
        text-align: justify;
        font-size: .8em;
    }

    main > div > p#email{
        text-align: none;
        display: inline-block;
    }

    footer {
        width: 318px;
    }
}

